body{
  background-color: gainsboro;
  max-width: 1200px;
}

#header{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 200px;
  margin: 10px;
}

#first_section, #second_section{
  display: flex;
  align-items: center;
  height: 80px;
}

#first_section{
  background-color: midnightblue;
  justify-content: space-between;
  margin: 15px;
}

.sections-first-section{
  flex-direction: row;
  background-color: red;
  justify-content: space-between;
  justify-content: stretch;
  width: 100%;
  height: 40px;
  margin: 10px;
}

.sections-first-section:nth-child(odd){
  width: 150%;
}

/*-----*/

#second_section{
  background-color: orange;
  margin: 0px 15px 15px 15px;
}

#section-second-section{
  background-color: yellow;
  width: 100%;
  height: 40px;
  margin: 10px;
}

/*-----*/

#body{
  display: flex;
  background-color: black;
  height: 400px;
  margin: 10px;
}

#articles-section{
  background-color: gray;
  align-content: flex-start;
  height: 360px;
  width: 60%;
  margin: 15px;
}

#grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.articles{
  background-color: blue;
  height: 50px;
  margin: 10px;
}

#final-article{
  background-color: aqua;
  height: 50px;
  margin: 10px;
}

#aside{
  background-color: red;
  justify-content: stretch;
  height: 360px;
  width: 40%;
  margin: 15px 15px 15px 0px;
}

.aside-articles{
  background-color: yellow;
  height: 50px;
  margin: 10px 10px 20px 10px;
}

/*-----*/

#footer{
  display: flex;
  background-color: black;
  height: 100px;
  margin: 10px;
  align-items: center;
}

#section-footer{
  background-color: yellow;
  height: 50px;
  width: 100%;
  margin: 15px;
}